@import "tailwindcss";

/* PROJECT LIST STYLES*/
/* stles for one project-card */
.p-card {
  @apply bg-[#f3e8d9] text-slate-800 
         rounded-xl shadow-md w-200
         p-4 mb-3
         border border-orange-200 
         transition-all duration-200 
         hover:shadow-lg;
}

/* the body */
.p-card-body {
  @apply flex-grow-0 mb-4 space-y-1;
}

/* data titles */
.p-data-title {
  @apply text-sm font-semibold font-mono;
}

/* DESCRIPTION container */
.p-desc-container {
  @apply overflow-hidden transition-all duration-300;
}

.p-desc-container.collapsed {
  max-height: 1.5rem;
}

.p-desc-container.expanded {
  max-height: 1000px;
}

/* .p-description-text {
  @apply mb-2;
} */

/* below description: THE INFORMATION PART */
.p-info-container,
.p-meta-container {
  @apply text-sm text-slate-600 flex justify-around border-t border-orange-200;
}

.p-info-meta-container {
  @apply overflow-hidden transition-all duration-300;
}

.p-info-meta-container.collapsed {
  max-height: 0;
}

.p-info-meta-container.expanded {
  max-height: 1000px;
}

/* ON THE RIGHT SIDE: the buttons */
.p-buttons-container {
  @apply flex flex-wrap justify-around gap-5 mt-2 items-start ml-4;
}

/* .p-button {
  @apply bg-green-600 p-1 rounded-xl text-sm no-underline inline-block w-25;
} */

.p-button {
  @apply flex items-center justify-center bg-gradient-to-r from-amber-400 to-yellow-600 font-semibold 
  px-6 py-2 rounded-full shadow-md w-fit h-6
  hover:shadow-lg hover:from-amber-500 hover:to-yellow-700 transition-all duration-200;
}

.p-delete-button {
  @apply bg-red-600 p-1 rounded-xl text-sm inline-block mt-1 w-25;
}

.p-delete-button:hover {
  @apply bg-red-700 no-underline;
}

/* TASK LIST STYLES */
/* styles for one task-card with dependencies*/

.tasks-container {
  @apply flex flex-wrap;
}

.t-card {
  @apply text-slate-800  flex flex-col
         rounded shadow-md w-100
         p-4 m-3
         transition-all duration-200 
         hover:shadow-lg font-mono;
}

.t-pin-button {
  @apply ml-2 text-xl;
}

.t-card-body {
  @apply flex-wrap;
}

.t-desc-container {
  @apply overflow-hidden transition-all duration-300;
}

.t-desc-container.collapsed {
  max-height: 4.5rem;
}

.t-desc-container.expanded {
  max-height: 1000px;
}

.t-info-container,
.t-meta-container {
  @apply text-sm text-slate-600 flex border-t border-black;
}

.t-meta-container {
  @apply border-b;
}

.t-info-meta-container {
  @apply overflow-hidden transition-all duration-300;
}

.t-buttons-container {
  @apply flex gap-5 mt-2 items-start ml-4;
}

.t-button {
  @apply bg-green-600 p-1 rounded-xl text-sm no-underline inline-block w-25;
}

.t-button:hover {
  @apply bg-green-800 no-underline;
}

.t-edit-button {
  @apply bg-amber-600 p-1 rounded-xl text-sm inline-block mt-1 w-15;
}

.t-edit-button:hover {
  @apply bg-amber-700 no-underline;
}

.t-delete-button {
  @apply bg-red-600 p-1 rounded-xl text-sm inline-block mt-1 w-15;
}

.t-delete-button:hover {
  @apply bg-red-700 no-underline;
}
