@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import "tailwindcss";

/* Definition of main website-colors */
@theme {
  --color-bar-bg: #e0c097;
  --color-textMain: #2c2c2c;
  --color-textSecondary: #555555;
  --color-textTitles: #1f1f1f;
  --color-logout: rgba(255, 0, 0, 0.5);
  --color-account: #bbff00;
  --color-sidebarBg: #2c3e50;

  --color-tasklistBg: #6f97a2;
  --color-selectedTaskBg: #b9d9e2;
  --color-taskPreviewBg: #d3eaf0;
  --color-taskPreviewBorder: #5a7d89;
  --color-taskPreviewText: #ffffff;

  --color-selectedProjectBg: #f1c181;
  --color-projectDropdownBg: #b75c5c;
  --color-projectPreviewBg: #eac6aa;
  --colorprojectPreviewBorder: #a85050;
  --color-projectPreviewText: #ffffff;

  --color-heroBg: #f9e5c5;
  --color-mainBg: linearGradient(#f4f1ec, #f9e5c5);
  --font-family-logo: "Island Moments", cursive;
}

:root {
  @apply h-full w-full bg-gradient-to-bl from-[#f1d3b1] via-[#ece5db] to-[#f1c181];
}

/* Main page behaviour */
body {
  @apply p-5 mx-auto;
}


