@import "tailwindcss";

/* Main Home, contains sidebar and hero */
.home {
  @apply flex flex-col min-h-screen p-3 box-border;
}

/* SideBar and Hero */
.sidebar-left {
  @apply flex flex-col flex-grow bg-[var(--color-sidebarBg)] rounded-2xl p-5 gap-5 shadow-lg w-1/5 h-[85vh];
}

.hero-sidebar-placement {
  @apply flex flex-row gap-5 mt-5 min-h-[90vh] w-full box-border items-stretch;
}

.hero {
  @apply w-4/5 bg-[var(--color-heroBg)] rounded-2xl p-5 shadow-lg h-[85vh] overflow-auto;
}

.hero-fade-mask {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

/* Basic header styles and basic footer styles come here */
/* HEADER */
/* Container contains everything in the HEADER */
.header-container {
  @apply flex gap-2 text-[var(--color-textMain)] h-[10vh];
  font-family: var(--font-family-logo);
  font-size: 2rem;
}

/* Logo container contains only the logo */
.logo-container {
  @apply flex  items-center justify-center;
}

.logo {
  @apply w-20 h-20 rounded-4xl shadow-lg bg-white;
}

/* Header Content contains the menubar */
.header-content {
  @apply flex bg-[var(--color-bar-bg)] w-full rounded-4xl p-5 shadow-lg;
}

/* menubar contains title and header-buttons-container */
.menubar {
  @apply flex items-center justify-between w-full max-h-10;
}

.title {
  @apply flex text-5xl text-[var(--color-textTitles)];
  font-family: var(--font-family-logo);
}

.sub-title {
  @apply text-4xl text-[var(--color-textTitles)];
  font-family: var(--font-family-logo);
}

.project-title {
  @apply text-2xl text-[var(--color-textTitles)];
}

.header-buttons {
  @apply flex gap-2 items-end;
}

.dark-mode-button {
  @apply bg-black rounded-2xl items-center justify-center w-6 h-6;
}

.dark-mode-button:hover {
  @apply bg-white;
}

.logout-button {
  @apply flex bg-[var(--color-logout)] rounded-4xl w-6 h-6 text-sm text-center items-center justify-center;
}

.logout-button:hover {
  @apply bg-red-500;
}

.account-button {
  @apply flex bg-[var(--color-account)]  rounded-4xl w-12 h-12 text-center items-center justify-center;
}

.account-button:hover {
  @apply bg-green-100;
}

/* FOOTER */
/* Container contains everything in the FOOTER */
